<html xmlns="http://www.w3.org/1999/xhtml">
    <head lang="en">
    <meta charset="utf-8">

    <meta http-equiv="pragma" content="no-cache">
    <meta name="viewport" content="width=device-width,user-scalable=0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta http-equiv="cache-control" content="max-age=0, must-revalidate">
    <meta http-equiv="expires" content="-1">
    <title>Casino App</title>
        
    <!-- IOS Tags -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Registration POC">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Android Tags -->
    <meta name="mobile-web-app-capable" content="yes">
        
    <!-- Microsoft Tags -->
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="cleartype" content="on">
        
    <!-- build:css(.tmp) styles/core.css -->
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->
        
    <!-- Open Sans -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    
        
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='bower_components/components-font-awesome/css/font-awesome.css' />
    <!-- endbower -->
    <!-- endbuild -->
        
        
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        
    </head>
    <body>
        <div ng-app="CasinoApp">
            <div ng-controller="ShellCtrl as shell">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-xs-2 pull-left" ng-click="shell.leftButton()">
                            <div class="btn btn-link navbar-btn"><i class="fa fa-2x fa-arrow-left"></i></div>
                        </div>
                        <div id="title" class="navbar-brand col-xs-8">{{shell.title()}}</div>
                        <div class="col-xs-2" ng-click="shell.rightButton()">
                            <div class="btn btn-link navbar-btn pull-right"><i class="fa fa-2x fa-weixin"></i></div>
                        </div>
                      </div>
                    </div>
                </nav>
                
                
                <!-- Error --> 
                <error-widget errors="shell.errors"></error-widget>

                <!-- Progress --> 
                <progress-widget errors="shell.errors" current="shell.current" max="shell.max"></progress-widget>
                
            </div>
            <hr/>
            <div class="container" ng-view/>
        </div>
        
        <!-- build:js({.tmp,app}) scripts/core.js -->
        <script src="scripts/utils/string.js" type="application/javascript"></script>
        <script src="scripts/app.js" type="application/javascript"></script>
        <script src="scripts/services/shell.js" type="application/javascript"></script>
        <script src="scripts/directives/equals.js" type="application/javascript"></script>
        <script src="scripts/directives/focusme.js" type="application/javascript"></script>
        <script src="scripts/directives/dateofbirth.js" type="application/javascript"></script>
        <script src="scripts/directives/phonenumber.js" type="application/javascript"></script>
        <script src="scripts/directives/inputbox.js" type="application/javascript"></script>
        <script src="scripts/widgets/error.js" type="application/javascript"></script>
        <script src="scripts/widgets/progress.js" type="application/javascript"></script>
        <script src="scripts/controllers/shell.js" type="application/javascript"></script>
        <script src="scripts/controllers/registration.js" type="application/javascript"></script>
        <!-- endbuild -->
    </body>
</html>